/* Estilos para el formulario */
body {
    margin: 0;
    padding: 0;
    background-image: url('../img/banner.jpg'); /* Ruta a tu imagen de fondo */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.8); /* Fondo semi-transparente para que la imagen de fondo sea visible */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    margin-top: 50px;
}

form {
    max-width: 400px;
    margin: 90px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form input[type="submit"] {
    background-color: #5485b9;
    color: white;
    cursor: pointer;
}

/* Estilos para mensajes de éxito y error */
h3.success, h3.error {
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
}

h3.success {
    background-color: #5485b9;
    color: white;
}

h3.error {
    background-color: #f44336;
    color: white;
}
